<section>
  <div class="img">
    <img src=" <%= data.image_url %> " />
  </div>
  <h3><%= data.title %></h3>
  <h4><%= data.author %></h4>
  <p><%= data.description %></p>
  <h5>ISBN: <%= data.isbn %></h5>
  <h5>Book Shelf: <%= data.bookshelf %></h5>
  <form action="">
    <button>Update Book Info</button>
  </form>
  <form method="post" action="/delete/<%=data.id%>?_method=delete">
    <button>Delete Book</button>
  </form>
</section>
