<% data.forEach(book => { %>
<section>
  <div class="img">
    <img src=" <%= book.image_url %> " />
  </div>
  <h3><%= book.title %></h3>
  <h4><%= book.author %></h4>
  <p><%= book.description %></p>
  <h5>ISBN: <%= book.isbn %></h5>
  <h5>Book Shelf: <%= book.bookshelf %></h5>

  <form action="">
    <button>Update Detail</button>
  </form>

  <form method="post" action="/delete/<%= book.id %>?_method=delete">
    <button>Delete Book</button>
  </form>
</section>

<section class="update_details">
  <form method="post" action="/updateBook/<%= book.id %>?_method=put">
    <fieldset>
      <legend>Update Book Details</legend>
      <input type="text" />
      <br />
      <input type="text" />
      <br />
      <input type="text" />
      <br />
      <input type="text" />
      <br />
      <textarea type="text"></textarea>
      <br />
      <select name="" id="" class="book_shelf">
        <option value="default">select bookshelf</option>
      </select>
      <button type="submit">Update Book</button>
    </fieldset>
  </form>
</section>

<% }) %>
