<section>
  <div class="img">
    <img src=" <%= data.image_url %> " />
  </div>
  <h3><%= data.title %></h3>
  <h4><%= data.author %></h4>
  <p><%= data.description %></p>
  <h5>ISBN: <%= data.isbn %></h5>
  <h5>Book Shelf: <%= data.bookshelf %></h5>
  <form action="">
    <button>Update Book Info</button>
  </form>
  <form method="post" action="/delete/<%=data.id%>?_method=delete">
    <button>Delete Book</button>
  </form>
</section>


<section>
  <form method="post" action="/updateBook/<%=data.id%>?_method=put">
    <input type="text" name="title" value="<%= data.title %>"></br>
    <input type="text" name="author" value="<%= data.author %>"></br>
    <input type="text" name="isbn" value="<%= data.isbn %>"></br>
    <input type="text" name="image_url" value="<%= data.image_url %>"></br>
    <input type="text" name="description" value="<%= data.description %>"></input></br>
    <select class="bookshelf" name="bookshelf" id="">
      <option value="Default" disabled>Select bookshelf</option>
      <option value="<%=data.bookshelf%>"><%=data.bookshelf%></option>
    </select>

    <button type="submit">Submit Changes</button>
  </form>
</section>

