<% data.forEach(book => { %>
<section>
  <div class="img">
    <img src=" <%= book.image_url %> " />
  </div>
  <h3><%= book.title %></h3>
  <h4><%= book.author %></h4>
  <p><%= book.description %></p>
  <h5>ISBN: <%= book.isbn %></h5>
  <h5>Book Shelf: <%= book.bookshelf %></h5>
  <form action="">
    <button>Update Book Info</button>
  </form>
  <form method="post" action="/delete/<%=book.id%>?_method=delete">
    <button>Delete Book</button>
  </form>
  
</section>


<section>
  <form method="post" action="/updateBook/<%=book.id%>?_method=put">
    <input type="text" name="title" value="<%= book.title %>"></br>
    <input type="text" name="author" value="<%= book.author %>"></br>
    <input type="text" name="isbn" value="<%= book.isbn %>"></br>
    <input type="text" name="image_url" value="<%= book.image_url %>"></br>
    <input type="text" name="description" value="<%= book.description %>"></input></br>

    <button type="submit">Submit Changes</button>
  </form>
</section>

<% }) %>