<% data.forEach(book => { %>
<section>
  <div class="img">
    <img src=" <%= book.image_url %> " />
  </div>
  <h3><%= book.title %></h3>
  <h4><%= book.author %></h4>
  <p><%= book.description %></p>
  <h5>ISBN: <%= book.isbn %></h5>
  <h5>ISBN: <%= book.bookshe%></h5>
</section>
<% }) %>
