<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../layout/head') %>
  </head>
  <body>
    <header>
      <div class="header_title">
        <h1>Book App</h1>
      </div>

      <div class="page">
        <h2>Search Results</h2>
      </div>
    </header>

    <% data.forEach(book => { %>
    <section>
      <div class="img">
        <img src=" <%= book.image_url %> " />
      </div>
      <h3><%= book.title %></h3>
      <h4><%= book.author %></h4>
      <p><%= book.description %></p>
      <button>Select this Book</button>
    </section>
    <% }) %>
  </body>
  <footer></footer>
</html>
