<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../layout/head') %>
  </head>
  <body>
    <header>
      <%- include('../../layout/header') %>
    </header>

    <main>
      <% data.forEach(book => { %>
      <section>
        <div class="img">
          <img src=" <%= book.image_url %> " />
        </div>
        <h3><%= book.title %></h3>
        <h4><%= book.author %></h4>
        <p><%= book.description %></p>

        <form method="post" action="/bookDetail">
          <input type="text" name="bookshelf" placeholder="Enter Book Shelf Here" required="required" />
          <input type="hidden" name="author" value="<%= book.author %>" />
          <input type="hidden" name="title" value="<%= book.title %>" />
          <input type="hidden" name="isbn" value="<%= book.isbn %>" />
          <input type="hidden" name="image_url" value="<%= book.image_url %>" />
          <input type="hidden" name="description" value="<%= book.description %>" />

          <button type="submit">Select this Book</button>
        </form>
      </section>
      <% }) %>
    </main>
    <footer>
      <%- include('../../layout/footer') %>
    </footer>
  </body>
</html>
